<html xmlns:th="http://www.thymleaf.org">

    <html>
        <head>
            <title>LAYOUT MÉTODOS NUMÉRICOS</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
            <nav class="navbar navbar-expand-lg bg-body-tertiary"th:fragment="menu">
                <a class="navbar-brand" href="/">
                    <img th:src="@{/images/logo.itses.png}" width="125" height="38" class="d-inline-block align-top">
                    MÉTODOS NUMÉRICOS
                </a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        <a class="nav-link" href="/unit2">Solución Ecuaciones</a>
                        <a class="nav-link" href="/unit3">Sistemas Lineales</a>
                        <a class="nav-link disabled" href="/unit4">Ajuste de Curvas</a>
                        <a class="nav-link disabled" href="/unit5">Diferenciación e Integración</a>
                        <a class="nav-link disabled" href="/unit6">Ecuaciones Diferenciales</a>
                    </ul>
                </div>



            </nav>

              <div class="container" th:fragment="bannerunit2">
            <div class="row">
                <img class="img-fluid w-100" th:src="@{/images/metodosnumericos.png}"/>
            </div>
        </div>
            
        </body>
    </html>
