
<!<!doctype html>
<html xmlns:th="http://www.thymleaf.org">

    <head>
        <title>MÉTODOS NUMÉRICOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity=""
            crossorigin="anonymous"
            >
        <!-- Bootstrap JS and dependencies -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="" 
            crossorigin="anonymous"
            >
        </script>
    </head>

    <script th:inline="javascript">
    
    function generarCampos() {
        const n = document.getElementById("n").value;
        const container = document.getElementById("puntos");
        container.innerHTML = "";

        for (let i = 0; i < n; i++) {
            container.innerHTML += `
                <label>x${i}:</label>
                <input type="number" step="any" name="xValues[${i}]" required>
                <label>f(x)${i}:</label>
                <input type="number" step="any" name="yValues[${i}]" required>
                <br><br>
            `;
        }
    }


    </script>

    <body>


        <nav th:replace="/layout/template :: menu"></nav>
        <div th:replace="/layout/template :: bannerunit2"></div>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="/unit3">Ajustes de Curvas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Formulario: Polinomio de Lagrange</li>


                </ol>
            </nav>
        </div>

        <div class="container">
            <form th:action="@{/unit4/solvelagrange}" method="post" th:object="${modelLagrange}">
            <div class="container">
                <h1>Método de Polinomio de Lagrange</h1>
                <h3>Ingresa los parámetros siguientes:</h3>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="n" class="form-label">Número de puntos</label>
                         <input type="number" class="form-control" th:field="*{n}" id="n" min="2" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-secondary" onclick="generarCampos()">Generar Campos</button>
                    </div>
                </div>

                <div id="puntos"></div>

                <div class="row mt-3">
                    <div class="col-md-4">
                        <label for="evalPoint" class="form-label">Punto a evaluar</label>
                        <input type="text" class="form-control" id="evalPoint" th:field="*{evalPoint}" required>
                    </div>
                </div>

                <div class='row mt-3'>
                    <div id='resolver' class="col-12" style="display:none">
                        <button type="submit" class="btn btn-primary">Resolver</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </body>
</html>

