
<!<!doctype html>
<html xmlns:th="http://www.thymleaf.org">

    <head>
        <title>MÉTODOS NUMÉRICOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity=""
            crossorigin="anonymous"
            >
        <!-- Bootstrap JS and dependencies -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="" 
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img th:src="@{/images/logo.itses.png}" width="125" height="38" class="d-inline-block align-top">
                    MÉTODOS NUMÉRICOS
                </a>

            </div>
    </nav>


    <div class="container">
        <h1 class="text">Método de Regla Falsa</h1>
        <h3 class="text"> Ingresa los parámetros siguientes: </h3>    
        <form class="row g-3" th:action="@{/unit2/solveregulafalsi}" method="post" th:object="${regulafalsi}">

            <div class="col-md-6">
                <label for="FX" class="form-label">Ingresa la función: </label>
                <input type="text" class="form-control" id="FX" name="FX" th:field="*{FX}">

            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="XL" class="form-label">Xl: </label>
                    <input type="text" class="form-control" id="XL"  name="XL"  th:field="*{XL}">
                </div>

                <div class="col-md-3">
                    <label for="XU" class="form-label">Xu: </label>
                    <input type="text" class="form-control" id="XU"  name="XU"  th:field="*{XU}">
                </div> 
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="Ea" class="form-label">Error estimado: </label>
                    <input type="text" class="form-control" id="Ea"  name="Ea"  th:field="*{Ea}">
                </div>  
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="IteracionesMaximas" class="form-label">Número máximo de iteraciones: </label>
                    <input type="text" class="form-control" id="IteracionesMaximas" name="IteracionesMaximas"  th:field="*{IteracionesMaximas}">
                </div>
            </div>

            <div class="p-2 row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Ejecutar</button>
                </div>

            </div>

        </form>

    </div>
        
         
</body>
</html>

