
<!doctype html>
<html xmlns:th="http://www.thymleaf.org">

    <head>
        <title>MÉTODOS NUMÉRICOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity=""
            crossorigin="anonymous"
            >
        <!-- Bootstrap JS and dependencies -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="" 
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img th:src="@{/images/logo.itses.png}" width="125" height="38" class="d-inline-block align-top">
                    MÉTODOS NUMÉRICOS
                </a>

            </div>

    </nav>
    <div class="container">
        <div class="row">
            <img class="img-fluid w-100" th:src="@{/images/metodosnumericos.png}"/>
        </div>
    </div>
    <div class="container">
        <h1 class="text">Solución de Ecuacciones Algebráicas</h1>
        <h3 class="text">Métodos Numéricos</h3>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/unit2/formbisection">Bisección</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Regla Falsa</a>
            </li>
           
        </ul>
    </div>


</body>
</html>
