
<!doctype html>
<html xmlns:th="http://www.thymleaf.org">

    <head>
        <title>MÉTODOS NUMÉRICOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity=""
            crossorigin="anonymous"
            >
        <!-- Bootstrap JS and dependencies -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="" 
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div class="container">
            <nav th:replace="/layout/template :: menu"></nav>
            <div class="container">
                <div class="row">
                    <img class="img-fluid w-100" th:src="@{/images/metodosnumericos.png}"/>
                </div>
            </div>

            <div class="container">
               
                <br>
                
                <h2>Bienvenidos</h2>
                
                <p class="text">Proyecto de la materia de Métodos Numéricos para el desarrollo de los distintos algoritmos aplicados a la ingeniería utilizando:</p>
                
                <ul>
                    <li>Java JDK 21</li>
                    <li>SpringBoot 3.5.0</li>
                    <li>Lombok 1.18</li>
                    <li>Thymeleaf 3.1.13</li>
                    <li>MathParser 6.1.0</li>
                </ul>
                <hr>
                
                  <h2>Soluciones implementadas</h2>
                
                <p class="text">El alcance de este proyecto incluye: </p>
                   <ul>
                    <li>Algoritmos de solución de ecuaciones para estimación de raíces</li>
                    <li>Algoritmos de solución sistemas lineales y no lineales</li>
                    <li>Algoritmos de ajuste de datos</li>
                    <li>Algoritmos de diferenciación e integración</li>
                    <li>Algoritmos para solución de ecuaciones diferenciales</li>
                
                </ul>
                  <hr>
                <h2>Métodos Numéricos</h2>

                <p class="text">Los métodos numéricos son procedimientos matemáticos que utilizan operaciones aritméticas y lógicas para obtener soluciones aproximadas a problemas complejos que no pueden resolverse mediante métodos analíticos.
                    Estos métodos se basan en algoritmos, que son secuencias finitas de instrucciones ordenadas que permiten acercarse a una solución real.
                    Su objetivo principal es encontrar soluciones aproximadas a problemas matemáticos, especialmente aquellos que son demasiado complejos para una resolución exacta.</p>
                
                <p class="text">En la práctica, los métodos numéricos se aplican ampliamente en ingeniería, física, química y otras ciencias para resolver problemas como ecuaciones diferenciales ordinarias, sistemas de ecuaciones lineales, ecuaciones no lineales y problemas de valor inicial o de contorno.</p>
                
                <br>
                <br>
                <br>
            </div>
        </div>

    </body>
</html>
